@font-face{
  font-family : bookmark;
  src: url(font/bookmark.ttf);
}

@media screen and (max-width:720px) {
  .dropbutton{
    display: contents;
  }

  .dropdown{
    top:0;
    padding-left: 0px;
  }

  .dropdown-content a:hover{
    color:black;
    background-color: #36393e;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: inherit;
    width: inherit;
  }

  .dropdown-content a {
    width: inherit;
    display: block;
    font-size: 15px;
    float: none;
    text-align: left;
    padding-left: 25px;
  }
}

.page:hover{
  cursor: pointer;
}

body{
  background-color: #e0e0e0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

main{
  padding-right: 10%;
  padding-left: 10%;
  min-height: 400px;
}

.main{
  padding-right: 10%;
  padding-left: 10%;
  min-height: 500px;
}

a.top{
  font-size: 10px;
  text-decoration: none;
  font-family: inherit;
  color: #c5c5c5;
}

.center{
  text-align: center;
}

.container{
  overflow: hidden;
  position: relative;
  top: 0;
  width: auto;
  background-image: url(image/header-bookmark.jpg);
  background-position: right;
  padding:140px 10px 10px;
}

.container .logo{
  float: left;
  width: 35px;
  height: 35px;
  margin-top: -5px;
}

.container .book{
  float: left;
  color: #5f5f5f;
  text-align: center;
  text-decoration: none;
  font-family: bookmark;
  font-size: 50px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 5px;
  padding-top:12px;
}

.container .mark{
  color:#36393e;
}

.container a.subtitle{
  float: left;
  color: #5f5f5f;
  text-align: center;
  text-decoration: none;
  font-family: bookmark;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 5px;
  padding-top:12px;
  margin-top: 9px;
}

.dropbutton {
  background-color: inherit;
  color: white;
  height: auto;
  padding: 7px 6px;
  width: inherit;
  font-family: cursive;
  font-weight: bolder;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
  border: none;
  cursor: pointer;
  display: none;
}

.dropbutton .image{
  height: 14px;
  width: 17px;
}

.dropdown {
  position: sticky;
  display: block;
  background-color: #5f5f5f;
  padding: 7px 6px;
  height: 25px;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 17px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.dropdown-content {
}

.dropdown-content a {
  font-family: cursive;
  color: #36393e;
  text-align: center;
  padding:7px 6px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
  background-color: inherit;
}

.dropdown-content a:hover{
  color: black;
}

.dropdown-content .active{
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  max-width: 84%;
  height: 200px;
  background-color: #e6e6e6 ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.middle2nd{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  max-width: 84%;
  height: 40px;
  background-color: #e6e6e6 ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.middle p{
  font-family: cursive;
  margin-left: 10px;
  margin-right: 12px;
  text-align: left;
  font-size: 15px;
}

figure{
  font-family: cursive;
  position: sticky;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  margin-left: 8.39%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #e6e6e6 ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  float: left;
}

figure img{
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: block;
  width: auto;
}

figure img:hover{
  color: black;
  opacity: 90%;
}

figcaption{
  background-color: #c4c4c4;
  padding-bottom: 5px;
}

.title{
  font-weight: bold;
  line-height: 20px;
}

h3{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

figcaption p{
  font-family: monospace;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 12px;
  text-align: justify;
  font-size: 15px;
}

figcaption a{
text-decoration: none;
  color: black;
}

figcaption a.more{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px;
  text-align: right;
  color: #5f5f5f;
}

.footer{
  background-color: #5f5f5f;
  position: relative;
  bottom: 0;
  text-align: center;
  font-family: monospace;
  color: white;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  float: left;
}

p a{
  text-decoration: none;
  color: black;
}
